.h-1rem {
	height: 1rem;
}




.mt-0 {
	margin-top: 0;
}

.mt-2 {
	margin-top: 2px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-110 {
	margin-top: 110px;
}

.mt-150 {
	margin-top: 150px;
}









.mb-0 {
	margin-bottom: 0;
}

.mb-2 {
	margin-bottom: 2px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-110 {
	margin-bottom: 110px;
}

.mb-150 {
	margin-bottom: 150px;
}












.ml-0 {
	margin-left: 0;
}

.ml-2 {
	margin-left: 2px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-25 {
	margin-left: 25px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-35 {
	margin-left: 35px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-45 {
	margin-left: 45px;
}

.ml-50 {
	margin-left: 50px;
}








.mr-0 {
	margin-right: 0;
}

.mr-2 {
	margin-right: 2px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-25 {
	margin-right: 25px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-35 {
	margin-right: 35px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-45 {
	margin-right: 45px;
}

.mr-50 {
	margin-right: 50px;
}







.m-0 {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.m-2 {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.m-5 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.m-10 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.m-15 {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.m-20 {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}





.mlr-auto {
	margin-left: auto;
	margin-right: auto;
}










.pt-0 {
	padding-top: 0;
}

.pt-2 {
	padding-top: 2px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-35 {
	padding-top: 35px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-45 {
	padding-top: 45px;
}

.pt-50 {
	padding-top: 50px;
}






.pb-0 {
	padding-bottom: 0;
}

.pb-2 {
	padding-bottom: 2px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-25 {
	padding-bottom: 25px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-35 {
	padding-bottom: 35px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-45 {
	padding-bottom: 45px;
}

.pb-50 {
	padding-bottom: 50px;
}







.pl-0 {
	padding-left: 0;
}

.pl-2 {
	padding-left: 2px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-25 {
	padding-left: 25px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-35 {
	padding-left: 35px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-45 {
	padding-left: 45px;
}

.pl-50 {
	padding-left: 50px;
}







.pr-0 {
	padding-right: 0;
}

.pr-2 {
	padding-right: 2px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-25 {
	padding-right: 25px;
}

.pr-30 {
	padding-right: 30px;
}

.pr-35 {
	padding-right: 35px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-45 {
	padding-right: 45px;
}

.pr-50 {
	padding-right: 50px;
}








.p-0 {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.p-5 {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.p-10 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.p-15 {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.p-20 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.p-25 {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.p-30 {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}













.bt-1-solid-transparent {
	border-top: 1px solid transparent;
}

.bt-1-solid-currentColor {
	border-top: 1px solid currentColor;
}

.bt-1-solid-black {
	border-top: 1px solid black;
}

.bt-1-solid-white {
	border-top: 1px solid white;
}

.bt-1-dashed-currentColor {
	border-top: 1px solid currentColor;
}

.bt-1-dashed-black {
	border-top: 1px dashed black;
}

.bt-1-dashed-white {
	border-top: 1px dashed white;
}



.bt-2-solid-transparent {
	border-top: 2px solid transparent;
}

.bt-2-solid-currentColor {
	border-top: 2px solid currentColor;
}

.bt-2-solid-black {
	border-top: 2px solid black;
}

.bt-2-solid-white {
	border-top: 2px solid white;
}

.bt-2-dashed-currentColor {
	border-top: 2px dashed currentColor;
}

.bt-2-dashed-black {
	border-top: 2px dashed black;
}

.bt-2-dashed-white {
	border-top: 2px dashed white;
}

.bt-2-dotted-currentColor {
	border-top: 2px dotted currentColor;
}

.bt-2-dotted-black {
	border-top: 2px dotted black;
}

.bt-2-dotted-white {
	border-top: 2px dotted white;
}







.bb-1-solid-transparent {
	border-bottom: 1px solid transparent;
}

.bb-1-solid-currentColor {
	border-bottom: 1px solid currentColor;
}

.bb-1-solid-black {
	border-bottom: 1px solid black;
}

.bb-1-solid-white {
	border-bottom: 1px solid white;
}

.bb-1-dashed-currentColor {
	border-bottom: 1px dashed currentColor;
}

.bb-1-dashed-black {
	border-bottom: 1px dashed black;
}

.bb-1-dashed-white {
	border-bottom: 1px dashed white;
}


.bb-2-solid-transparent {
	border-bottom: 2px solid transparent;
}

.bb-2-solid-currentColor {
	border-bottom: 2px solid currentColor;
}

.bb-2-solid-black {
	border-bottom: 2px solid black;
}

.bb-2-solid-white {
	border-bottom: 2px solid white;
}

.bb-2-dashed-currentColor {
	border-bottom: 2px dashed currentColor;
}

.bb-2-dashed-black {
	border-bottom: 2px dashed black;
}

.bb-2-dashed-white {
	border-bottom: 2px dashed white;
}

.bb-2-dotted-currentColor {
	border-bottom: 2px dotted currentColor;
}

.bb-2-dotted-black {
	border-bottom: 2px dotted black;
}

.bb-2-dotted-white {
	border-bottom: 2px dotted white;
}








.bl-1-solid-black {
	border-left: 1px solid black;
}

.bl-1-solid-white {
	border-left: 1px solid white;
}

.bl-1-solid-aquamarine {
	border-left: 1px solid aquamarine;
}

.bl-1-dashed-black {
	border-left: 1px dashed black;
}

.bl-1-dashed-white {
	border-left: 1px dashed white;
}

.bl-2-solid-black {
	border-left: 2px solid black;
}

.bl-2-solid-white {
	border-left: 2px solid white;
}

.bl-2-solid-aquamarine {
	border-left: 2px solid aquamarine;
}

.bl-2-dashed-black {
	border-left: 2px dashed black;
}

.bl-2-dashed-white {
	border-left: 2px dashed white;
}

.bl-2-dotted-black {
	border-left: 2px dotted black;
}

.bl-2-dotted-white {
	border-left: 2px dotted white;
}


.bl-3-solid-black {
	border-left: 3px solid black;
}

.bl-3-solid-bisque {
	border-left: 3px solid bisque;
}






.br-1-solid-black {
	border-right: 1px solid black;
}

.br-1-solid-white {
	border-right: 1px solid white;
}

.br-1-dashed-black {
	border-right: 1px dashed black;
}

.br-1-dashed-white {
	border-right: 1px dashed white;
}

.br-2-solid-black {
	border-right: 2px solid black;
}

.br-2-solid-white {
	border-right: 2px solid white;
}

.br-2-dashed-black {
	border-right: 2px dashed black;
}

.br-2-dashed-white {
	border-right: 2px dashed white;
}

.br-2-dotted-black {
	border-right: 2px dotted black;
}

.br-2-dotted-white {
	border-right: 2px dotted white;
}














.bd-1-solid-transparent {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.bd-1-solid-currentColor {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-right: 1px solid currentColor;
}

.bd-1-solid-black {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.bd-1-solid-white {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.bd-1-dashed-currentColor {
	border-top: 1px dashed currentColor;
	border-bottom: 1px dashed currentColor;
	border-left: 1px dashed currentColor;
	border-right: 1px dashed currentColor;
}

.bd-1-dashed-black {
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
	border-left: 1px dashed black;
	border-right: 1px dashed black;
}

.bd-1-dashed-white {
	border-top: 1px dashed white;
	border-bottom: 1px dashed white;
	border-left: 1px dashed white;
	border-right: 1px dashed white;
}

.bd-2-dotted-black {
	border-top: 2px dotted black;
	border-bottom: 2px dotted black;
	border-left: 2px dotted black;
	border-right: 2px dotted black;
}

.bd-2-dashed-chartreuse {
	border-top: 2px dashed chartreuse;
	border-bottom: 2px dashed chartreuse;
	border-left: 2px dashed chartreuse;
	border-right: 2px dashed chartreuse;
}






.fl-left {
	float: left;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-inline {
	display: inline;
}

.d-inline-block {
	display: inline-block;
}

.d-grid {
	display: grid;
}




















.ov-visible {
	overflow: visible;
}

.ov-hidden {
	overflow: hidden;
}

.ov-scroll {
	overflow: scroll;
}

.ov-auto {
	overflow: auto;
}

.ovx-visible {
	overflow-x: visible;
}

.ovx-hidden {
	overflow-x: hidden;
}

.ovx-scroll {
	overflow-x: scroll;
}

.ovx-auto {
	overflow-x: auto;
}

.ovy-visible {
	overflow-y: visible;
}

.ovy-hidden {
	overflow-y: hidden;
}

.ovy-scroll {
	overflow-y: scroll;
}

.ovy-auto {
	overflow-y: auto;
}





.whs-normal {
	white-space: normal;
}

.whs-nowrap {
	white-space: nowrap;
}

.whs-pre {
	white-space: pre;
}





.ov-wrap-normal {
	overflow-wrap: normal;
}

.ov-wrap-break-word {
	overflow-wrap: break-word;
}



.wob-normal {
	word-break: normal;
}

.wob-keep-all {
	word-break: keep-all;
}

.wob-break-all {
	word-break: break-all;
}










.bgc-ghostwhite {
	background-color: ghostwhite;
}

.bgc-ivory {
	background-color: ivory;
}

.bgc-coral {
	background-color: coral;
}

.bgc-lightsalmon {
	background-color: lightsalmon;
}

.bgc-red {
	background-color: red;
}

.bgc-crimson {
	background-color: crimson;
}

.bgc-black {
	background-color: black;
}

.bgc-slategrey {
	background-color: slategrey;
}

.bgc-dimgray {
	background-color: dimgray;
}

.bgc-gainsboro {
	background-color: gainsboro;
}

.bgc-cornsilk {
	background-color: cornsilk;
}

.bgc-antiquewhite {
	background-color: antiquewhite;
}

.bgc-gold {
	background-color: gold;
}

.bgc-goldenrod {
	background-color: goldenrod;
}

.bgc-plum {
	background-color: plum;
}

.bgc-silver {
	background-color: silver;
}

.bgc-tan {
	background-color: tan;
}

.bgc-peru {
	background-color: peru;
}

.bgc-darkcyan {
	background-color: darkcyan;
}

.bgc-cornflowerblue {
	background-color: cornflowerblue;
}

.bgc-dodgerblue {
	background-color: dodgerblue;
}

.bgc-aquamarine {
	background-color: aquamarine;
}










.c-white {
	color: white;
}

.c-black {
	color: black;
}

.c-coral {
	color: coral;
}

.c-red {
	color: red;
}

.c-yellow {
	color: yellow;
}

.c-plum {
	color: plum;
}

.c-blueviolet {
	color: blueviolet;
}

.c-cornflowerblue {
	color: cornflowerblue;
}

.c-blue {
	color: blue;
}

.c-dodgerblue {
	color: dodgerblue;
}

.c-aquamarine {
	color: aquamarine;
}

.c-forestgreen {
	color: forestgreen;
}

.c-darkgreen {
	color: darkgreen;
}

.c-moccasin {
	color: moccasin;
}

.c-slategrey {
	color: slategrey;
}

.c-dimgray {
	color: dimgray;
}

.c-lightgray {
	color: lightgray;
}

.c-silver {
	color: silver;
}

.c-tan {
	color: tan;
}

.c-peru {
	color: peru;
}

.c-antiquewhite {
	color: antiquewhite;
}




.op-0_95v {
	opacity: 0.95;
}

.op-0_9v {
	opacity: 0.9;
}

.op-0_85v {
	opacity: 0.85;
}

.op-0_8v {
	opacity: 0.8;
}

.op-0_75v {
	opacity: 0.75;
}

.op-0_7v {
	opacity: 0.7;
}

.op-0_65v {
	opacity: 0.65;
}

.op-0_6v {
	opacity: 0.6;
}

























.ff-serif {
	font-family: 'Times New Roman', 'Times', serif;
}

.ff-sans-serif {
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

.ff-monospace {
	font-family: 'Lucida Console', 'Courier', monospace;
}

.ff-fantasy {
	font-family: fantasy;
}






.lts-n {
	letter-spacing: normal;
}

.lts-0_07rem {
	letter-spacing: 0.07rem;
}











.lh-1_3v {
	line-height: 1.3;
}

.lh-1_35v {
	line-height: 1.35;
}

.lh-1_4v {
	line-height: 1.4;
}

.lh-1_5v {
	line-height: 1.5;
}

.lh-1_6v {
	line-height: 1.6;
}

.lh-1_7v {
	line-height: 1.7;
}

.lh-1_8v {
	line-height: 1.8;
}






.ta-left {
	text-align: left;
}

.ta-center {
	text-align: center;
}

.ta-right {
	text-align: right;
}









.td-none {
	text-decoration: none;
}

.td-line-through {
	text-decoration: line-through;
}

.td-underline {
	text-decoration: underline;
}













.fs-italic {
	font-style: italic;
}





.fw-normal {
	/*Нормальное начертание. То же, что и 400.*/
	font-weight: normal;
}

.fw-bold {
	/*Полужирное начертание. То же, что и 700.*/
	font-weight: bold;
}

.fw-lighter {
	/*Изменяет начертание относительно насыщенности родительского элемента (сверхтонкое начертание).*/
	font-weight: lighter;
}

.fw-bolder {
	/*Изменяет начертание относительно насыщенности родителя элемента (сверхжирное начертание).*/
	font-weight: bolder;
}

/*Цифровые значения насыщенности шрифтов, которые позволяют задавать больше, чем нормальное и полужирное начертание.*/
.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}









.fz-1em {
	font-size: 1em;
}

.fz-1_1em {
	font-size: 1.1em;
}

.fz-1_2em {
	font-size: 1.2em;
}

.fz-1_3em {
	font-size: 1.3em;
}

.fz-1_4em {
	font-size: 1.4em;
}

.fz-1_5em {
	font-size: 1.5em;
}

.fz-2em {
	font-size: 2em;
}



.fz-1rem {
	font-size: 1rem;
}

.fz-1_1rem {
	font-size: 1.1rem;
}

.fz-1_2rem {
	font-size: 1.2rem;
}

.fz-1_3rem {
	font-size: 1.3rem;
}

.fz-1_4rem {
	font-size: 1.4rem;
}

.fz-1_5rem {
	font-size: 1.5rem;
}

.fz-2rem {
	font-size: 2rem;
}




.fz-12 {
	font-size: 12px;
}

.fz-14 {
	font-size: 14px;
}

.fz-16 {
	font-size: 16px;
}

.fz-18 {
	font-size: 18px;
}

.fz-20 {
	font-size: 20px;
}

.fz-22 {
	font-size: 22px;
}

.fz-24 {
	font-size: 24px;
}

.fz-26 {
	font-size: 26px;
}

.fz-28 {
	font-size: 28px;
}

.fz-30 {
	font-size: 30px;
}

.fz-32 {
	font-size: 32px;
}

.fz-34 {
	font-size: 34px;
}

.fz-36 {
	font-size: 36px;
}

.fz-38 {
	font-size: 38px;
}

.fz-40 {
	font-size: 40px;
}











.cur-auto {
	/*Начальное значение*/
	cursor: auto;
}

.cur-default {
	cursor: default;
}

.cur-help {
	cursor: help;
}

.cur-pointer {
	cursor: pointer;
}

.cur-text {
	cursor: text;
}