.wrapEl {
  position: relative;
  display: grid;
  row-gap: 50px;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
  font-size: 18px;
}

.block_1{
  padding: 30px;
  background-color: #DAA520;
}



.convertSelect {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03rem;
  color: black;
}



.birthdayInputEl {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03rem;
  color: black;
}

.submitEl {
  background-color: #d93d50;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: black;
  padding: 3px;
}


















