.wrapperElement {
  position: relative;
  display: grid;
  row-gap: 20px;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
  font-size: 18px;
}

.block_1{
  /* background-color: #b6e2a4; */
  /* background-color: #40826D; */
  background-color: #DAA520;
}

.navElement {
  position: relative;
  display: block;
  padding: 10px;
  
  border: 1px solid black;
}


.dateTimeElement {
  position: relative;
  display: block;
  padding: 10px;
  
  border: 1px solid black;
}

.convertMonthElement {
  position: relative;
  display: block;
  padding: 10px;
  
  border: 1px solid black;
}

.convertSelect {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03rem;
  color: black;
}

.getAgeElement {
  position: relative;
  display: block;
  padding: 10px;
  
  border: 1px solid black;
}

.birthdayInputElement {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03rem;
  color: black;
}

.submitElement {
  background-color: #65b9fd;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: black;
  padding: 3px;
}


.footerEl {
  position: relative;
  display: block;
  padding: 10px;
  
  border: 1px solid black;
}

