.wrapperElement {
  position: relative;
  display: grid;
  row-gap: 50px;
  z-index: 1;
  overflow-x: auto;
  overflow-y: auto;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
  font-size: 18px;
}

.block_1{
  padding: 30px;
  border-left: 5px solid #DAA520;
}

.navElement {
  position: relative;
  display: block;

}


.dateTimeElement {
  position: relative;
  display: block;

}

.convertMonthElement {
  position: relative;
  display: block;
  

}

.convertSelect {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03rem;
  color: black;
}

.getAgeElement {
  position: relative;
  display: block;

}

.birthdayInputElement {
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03rem;
  color: black;
}

.submitElement {
  background-color: #d93d50;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  color: black;
  padding: 3px;
}


.footerEl {
  position: relative;
  display: block;
  

}

